.passwordAdornment {
  margin-bottom: -4px !important;
  cursor: pointer;
}

.errorMessage {
  position: absolute;
  bottom: -50%;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.formControl {
  display: flex;
  width: 100%;
}

.bordered {
  border: 1px solid transparent;
}
