@use '@/styles/mixins' as *;


.walletCard {
  width: 248px;
  height: 130px;

  padding: 16px 24px;

  border-radius: 5px;

  cursor: pointer;

  border: 1px solid rgba(176, 178, 183, 0.20);
}

.walletCardActive {
  @include border-gradient-background(#020409);

  & .name {
    @include text-gradient;
  }

  & .balance {
    color: #F5F5F7;
  }

  & .copyAddressButton {
    color: #F5F5F7;
  }
}

.name {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #B0B2B7;

  margin-bottom: 12px;
}

.chainId {
  color: rgba(245, 245, 247, 0.40);
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;

  margin-bottom: 3px;
}

.balance {

  font-size: 16px;
  font-weight: 500;
  line-height: 20px;

  color: #F5F5F766;

  margin-bottom: 18px;
}


@include icon-colors('.copyIcon', #B0B2B7);


.copyAddressButton {
  color: #F5F5F766;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;

  display: flex;
  align-items: center;
  background: none;
  cursor: pointer;
}

.copyAddressIcon {
  margin-left: 8px;
}

@include icon-colors('.copyAddressIcon');