@use '@/styles/mixins' as *;

.wrapper {
  padding: 16px 32PX;

  @include mobile {
    padding: 0 16px 8px 16px;
  }
}

.wallets {
  display: flex;
  gap: 16px;
  overflow-x: auto;

  margin-bottom: 28px;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.linksGroup {
  display: flex;
  justify-content: center;

  grid-gap: 12px;

  margin-bottom: 28px;

  @include mobile {
    grid-gap: 8px;
    justify-content: space-between;
  }
}



.tokensHeadRow {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 16px;
}

.noTokens {
  margin: 24px 0;
  text-align: center;
}

.myAssetsTabsRoot {
  padding: 0 20px;
}

.btnWrapper {
  display: flex;
  justify-content: center;

  margin-bottom: 28px;
}

.referralBtn {
  text-align: center;
  margin: 0 auto;

  @include mobile {
    width: 100%;
  }
}