@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.root {
  border-radius: 5px;
  text-transform: none;
}

.sizeSmall {
  min-width: 152px;
  height: 40px;

  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.sizeMedium {
  min-width: 190px;
  height: 48px;
  font-size: 18px;

  font-weight: 500;

  letter-spacing: 0.02em;
  line-height: 24px;
}

.sizeLarge {
  min-width: 290px;
  height: 56px;
  border-radius: 10px;

  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 24px;
}

.contained {
  background: $the-power-gradient;

  span {
    color: #f5f5f7;
  }

  &:hover {
    background: $hover-gradient;
  }

  &:active {
    background: $active-gradient;
  }
}

.outlined {
  background: #121923;
  @include border-gradient();


  span {
    @include text-gradient($the-power-gradient, 5px);
  }

  &:hover {
    @include border-gradient($hover-gradient);

    span {
      @include text-gradient($hover-gradient, 5px);
    }
  }

  &:active {
    @include border-gradient($active-gradient);

    span {
      @include text-gradient($active-gradient, 5px);
    }
  }
}

.disabled {
  background: #26354d !important;
  background-color: #26354d !important;
  pointer-events: none;

  @include border-gradient(#26354d);


  span {
    @include text-gradient(#79789d, 5px);
  }
}