@import 'src/styles/variables';
@import 'src/styles/mixins';

.root {
  border-radius: 5px;
  text-transform: none;
}

.sizeSmall {
  min-width: 152px;
  height: 40px;

  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.sizeMedium {
  min-width: 190px;
  height: 48px;
  font-size: 18px;

  font-weight: 500;

  letter-spacing: 0.02em;
  line-height: 24px;
}

.sizeLarge {
  min-width: 290px;
  height: 56px;
  border-radius: 10px;

  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 24px;
}

.contained {
  background: $the-power-gradient;

  span {
    color: #f5f5f7;
  }

  &:hover {
    background: $hover-gradient;
  }

  &:active {
    background: $active-gradient;
  }

  &:disabled {
    background: #26354d;

    background-color: #26354d !important;

    color: #79789d;
    pointer-events: none;
  }
}

.outlined {
  @include border-gradient();

  background: #121923;

  span {
    @include text-gradient();
  }

  &:hover {
    @include border-gradient($hover-gradient);

    span {
      @include text-gradient($hover-gradient);
    }
  }

  &:active {
    @include border-gradient($active-gradient);

    span {
      @include text-gradient($active-gradient);
    }
  }

  &:disabled {
    @include border-gradient(#26354d);

    background: #26354d;
    background-color: #26354d !important;
    pointer-events: none;

    span {
      @include text-gradient(#79789d);
    }
  }
}
