@use '@/styles/mixins' as *;

.form {
  display: flex;
  flex-direction: column;

  position: relative;
  padding: 8px 36px;

  gap: 12px;
}

.inputs {
  display: flex;
  flex-direction: column;
  row-gap: 40px;

  // padding-top: 56px;
}

.wallet {
  display: flex;
  justify-content: end;
}

.selectsSet {
  display: grid;

  grid-template-columns: 1fr 1fr;

  gap: 40px;
}
