@use '@/styles/mixins' as *;

.form {
  position: relative;
}

.inputs {
  display: flex;
  flex-direction: column;
  row-gap: 40px;

  padding-top: 56px;
}

.wallet {
  position: absolute;
  z-index: 1;
  width: auto;
  top: 0;
  right: 0;
}

.selectsSet {
  display: flex;
  column-gap: 40px;
}
