@import '../../styles/variables';
@import '../../styles/mixins';

.registrationPage {
  position: absolute;
  z-index: 10000;
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $black;

  @include mobile {
    overflow: hidden;
  }
}

.langSelect {
  position: absolute;
  z-index: 100001;
  top: 16px;
  right: calc(10vw + 32px);

  @include mobile {
    top: 40px;
    right: 16px;
  }
}

.registrationTitle {
  @include text-gradient();
  font-size: 80px;

  font-weight: 700;
  line-height: 64px;

  @media screen and (max-width: $tablet) {
    font-size: 48px;
    line-height: 40px;
  }
}

.registrationPageHeader {

  display: flex;

  width: 100%;
  max-width: 768px;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 8px;
}


.registrationPageTitle {
  @include text-gradient();

  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.registrationDesc {
  @include text-gradient();

  margin-top: 32px;
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;

  text-align: center;

  @media screen and (max-width: $tablet) {
    margin-top: 20px;
    font-size: 16px;
    line-height: 32px;
  }
}

.registrationNextButtonText {
  @include text-gradient();
}

.buttonsHolder {
  z-index: 10000;
  display: flex;
  flex-direction: row;
  margin-top: 60px;

  @include mobile {
    flex-direction: column;

    button:first-child {
      margin-right: 0 !important;
      margin-bottom: 32px;
    }
  }

  button:first-child {
    margin-right: 60px;
  }
}

.registrationWizardComponent {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;

  @include mobile {
    overflow-x: hidden;
  }

  @media screen and (max-width: $notebook) {
    padding: 24px 16px;
  }
}

.registrationWizardHolder {
  display: flex;
  width: 768px;
  max-width: 100vw;
  flex-direction: column;
  align-items: center;
  padding-bottom: 48px;
  border-radius: 20px;
  background-color: #151516 !important;

  @include mobile {
    width: 100%;
    padding: 20px 16px;
  }
}

.registrationWizard {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  background-color: transparent;
}

.registrationStatementTitle {
  padding-bottom: 8px;
  margin-bottom: 0 !important;
  color: #2997ff;
  font-size: 16px0.5;
  font-weight: 500;
  line-height: 24px;
  text-shadow: 0 4px 4px rgb(0 0 0 / 25%);
}

.registrationStatementDesc {
  color: #f5f5f7;
  font-size: 12px0.5;
  font-weight: 400;
  line-height: 16px;
  text-shadow: 0 4px 4px rgb(0 0 0 / 25%);
}

.registrationSceneTitle {
  margin-bottom: 28px;
  color: #f5f5f7;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.registrationNextButton {
  @include the-power-color;
  width: 178px;
  height: 48px;
  border-radius: 5px;

  margin-top: 16px;
  margin-bottom: 20px;

  color: #f5f5f7;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-transform: unset;

  &_outlined {
    @include border-gradient;
    padding: 0 !important;
    background: #121923;

    @include mobile {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.resetModalForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginRegisterAccountTitle {
  width: 100%;
  color: #f5f5f7;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
}

.passwordInput {
  width: 280px;
  height: 48px;
  border-radius: 5px;
  background: #1d242e;

  @media screen and (max-width: $tablet) {
    width: 100%;
  }
}

.passwordInputPadded {
  margin-bottom: 16px;
}

.importAccountInput {
  width: 1px;
  height: 1px;
  opacity: 0;
  visibility: hidden;
}


.exportModalTitleHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 24px 0;
}

.exportModalContent {
  max-width: 600px !important;
  padding-top: 42px;
  padding-bottom: 42px;
  background: #121923;

  @media screen and (max-width: $tablet) {
    max-width: unset !important;
    padding-right: 20px;
    padding-left: 20px;
  }
}

.exportModalTitle {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: 20px;
  text-align: center;

  &:not(:last-of-type) {
    margin-bottom: 12px;
  }
}

.exportModalHintDesc {
  margin-top: 28px;
  margin-bottom: 20px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: 20px;
  text-align: center;
}

.exportModalHintTextArea {
  width: 280px;
  min-height: 48px;
  border-radius: 5px;
  margin-bottom: 32px;
  background: #1d242e;

  @media screen and (max-width: $tablet) {
    width: 100%;
  }
}

.exportModalForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.importModalContent {
  max-width: 384px !important;
  padding: 64px 50px 56px;
  background: #121923;

  @media screen and (max-width: $tablet) {
    max-width: unset !important;
    padding: 42px 20px;
  }
}

.importModalPasswordInput {
  margin-top: 36px;
  margin-bottom: 90px;
}

.checkBoxLabel {
  margin-top: 12px;
  color: #636468;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  user-select: none;
}
