@use '@/styles/mixins' as *;
@use '@/styles/variables' as *;

@include icon-colors('.card');

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 110px;
  height: 55px;
  gap: 8px;
  border-radius: 5px;
  padding: 8px;

  text-decoration: none;

  @include border-gradient-background(#020409, $card-gradient);

  @include mobile {
    @include border-gradient-background(#020409, $card-hover-gradient);

    :global(.fill) {
      fill: url('#hover');
    }

    :global(.stroke) {
      stroke: url('#hover');
    }

    .text {
      @include text-gradient($card-hover-gradient);
    }
  }

  &:hover {
    @include border-gradient-background(#020409, $card-hover-gradient);

    .text {
      @include text-gradient($card-hover-gradient);
    }
  }

  &:active {
    @include border-gradient-background(#020409, $card-active-gradient);

    .text {
      @include text-gradient($card-active-gradient);
    }
  }

  &[aria-disabled='true'] {
    border: 1px solid #79789d;
    background: #26354d;
    pointer-events: none;

    .text {
      color: #79789d;
    }
  }
}

.text {
  color: #6b798f;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}
