@use '@/styles/mixins' as *;
@use '@/styles/variables' as *;

.bar {
  position: sticky;
  z-index: 300;

  top: 0;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 8px 32px;
  backdrop-filter: blur(2px);

  @include mobile {
    padding: 8px 16px;
  }
}

.childrenOutsideBar {
  display: none;

  @include mobile {
    position: sticky;
    z-index: 100000;
    top: 0;
    display: block;
    background-color: #111923;
  }
}

.centerText {
  color: #f5f5f7;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.controlsSet {
  display: flex;
  align-items: center;
}

.title {
  @include text-gradient();
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}
