@import '../../styles/mixins';
@import '../../styles/variables';

.bar {
  position: sticky;
  z-index: 300;

  top: 0;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 8px 32px;
  background: inherit;

  @include mobile {
    padding: 8px 15px;
  }
}


.childrenOutsideBar {
  display: none;

  @include mobile {
    position: sticky;
    z-index: 100000;
    top: 0;
    display: block;
    background-color: #111923;
  }
}


.controlsSet {
  display: flex;
  align-items: center;
}


.title {

  @include text-gradient();
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}
